# Projeto 5 - Trabalhando com dados do TSE em SQL

### Prof. Matheus C. Pestana

O objetivo do projeto é trabalhar com os dados do TSE em SQL. Para isso, vamos utilizar um banco de dados que contém 4 tabelas: candidatos, bens, resultados e receitas. Abaixo, as conexões do banco estão criadas, bem como o cursor. É necessário que o arquivo [aqui](https://drive.google.com/drive/folders/1LauD_ut306AnCF9Qsh-v3MkmjugfiI_L?usp=share_link) seja baixado e colocado na pasta para que o código funcione.

O projeto consiste em responder as 5 perguntas abaixo listadas, utilizando o banco de dados fornecido. Cada pergunta vale 0,15, e a última, dado o nível de complexidade, vale 0,4, totalizando 1,0 ponto.

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('TSE.sqlite')
cursor = conn.cursor()

In [5]:
# Lista todas as tabelas
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()

[('candidatos',), ('resultados',), ('receitas',), ('bens',)]

In [12]:
# E se quiséssemos as primeiras 5 linhas da tabela de candidatos?
pd.read_sql_query("SELECT * FROM candidatos LIMIT 5;", conn)

,ano,tipo_eleicao,sigla_uf,id_municipio,id_municipio_tse,id_candidato_bd,cpf,titulo_eleitoral,sequencial,numero,...,data_nascimento,idade,genero,instrucao,estado_civil,nacionalidade,sigla_uf_nascimento,municipio_nascimento,email,raca
0,2022,eleicao ordinaria,SP,None,None,2140,32391423845,292390560141,250001640576,2122,...,5080.0,39,masculino,ensino superior completo,solteiro(a),brasileira,SP,Catanduva,None,branca
1,2022,eleicao ordinaria,PR,None,None,7522,32659766886,318686160132,160001655029,2100,...,5223.0,38,masculino,ensino superior completo,casado(a),brasileira,SP,São Paulo,None,branca
2,2022,eleicao ordinaria,MG,None,None,9152,32732330876,254436660183,130001644581,1655,...,5158.0,39,feminino,ensino superior completo,solteiro(a),brasileira,SP,São Paulo,None,branca
3,2022,eleicao ordinaria,SP,None,None,39303,34242154810,329810830191,250001611413,1616,...,5972.0,36,masculino,ensino medio completo,casado(a),brasileira,SP,São Paulo,None,branca
4,2022,eleicao ordinaria,SP,None,None,61207,35388748839,363394180141,250001611411,1610,...,7236.0,33,feminino,ensino superior completo,solteiro(a),brasileira,SP,São Paulo,None,branca

In [14]:
# Ou...
pd.DataFrame(
    cursor.execute("SELECT * FROM candidatos LIMIT 5;").fetchall()
)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,2022,eleicao ordinaria,SP,None,None,2140,32391423845,292390560141,250001640576,2122,...,5080.0,39,masculino,ensino superior completo,solteiro(a),brasileira,SP,Catanduva,None,branca
1,2022,eleicao ordinaria,PR,None,None,7522,32659766886,318686160132,160001655029,2100,...,5223.0,38,masculino,ensino superior completo,casado(a),brasileira,SP,São Paulo,None,branca
2,2022,eleicao ordinaria,MG,None,None,9152,32732330876,254436660183,130001644581,1655,...,5158.0,39,feminino,ensino superior completo,solteiro(a),brasileira,SP,São Paulo,None,branca
3,2022,eleicao ordinaria,SP,None,None,39303,34242154810,329810830191,250001611413,1616,...,5972.0,36,masculino,ensino medio completo,casado(a),brasileira,SP,São Paulo,None,branca
4,2022,eleicao ordinaria,SP,None,None,61207,35388748839,363394180141,250001611411,1610,...,7236.0,33,feminino,ensino superior completo,solteiro(a),brasileira,SP,São Paulo,None,branca

## 1) Quantos candidatos foram eleitos em cada estado? Liste os estados em ordem alfabética. A tabela deve conter apenas a coluna do estado e a quantidade de eleitos. (0,15)

## 2) Qual o valor máximo, médio e mínimo de bens de cada candidato? A tabela deve constar apenas o id do candidato e o valor máximo, médio e mínimo. (0,15)

## 3) Qual candidato a deputado federal teve mais voto por estado? Liste o nome do candidato, o estado e a quantidade de votos. A tabela de saída deve conter apenas o estado, o id do candidato, o nome de urna do candidato e a quantidade de votos. Apenas 1 candidato por estado. (0,15)

## 4) Considerando a tabela acima, repita a consulta, mas agora adicionando o nome de urna do candidato, que está presente apenas na base "candidatos". (0,15)

## 5) Crie uma tabela que contenha: 

- o id do candidato
- o nome do candidato
- o nome de urna do candidato
- o partido do candidato
- o estado do candidato
- o total de receitas do candidato
- o total de bens do candidato
- o resultado do candidato (se eleito, não eleito, suplente, etc)
- a quantidade de votos do candidato no 1º turno

(0,4)