# Lista 2

## Exerc√≠cio 1

Considere uma tabela com as seguintes vari√°veis:

| Vari√°vel | Tipo |
|----------|------|
| nome_pa√≠s | str |
| continente | str|
| area     | float|
| populacao | str  |
| pib     | float|


Um pa√≠s √© considerado grande se:
- sua √°rea √© de pelo menos 3 milh√µes de km2 (3.000.000 km2), ou
- sua popula√ß√£o √© de pelo menos 25 milh√µes de pessoas.

Escreva uma solu√ß√£o que retorne o nome, a popula√ß√£o e a √°rea dos pa√≠ses que s√£o considerados grandes. A sa√≠da deve ser um dataframe com as colunas na ordem "√°rea, nome, popula√ß√£o".

In [9]:
import pandas as pd

def big_countries(world: pd.DataFrame) -> pd.DataFrame:
    # RESOLVA



# Teste (N√ÉO ALTERAR)
world = pd.DataFrame({
    'nome_pa√≠s': ['Afeganist√£o', 'Albania', 'Algeria', 'Andorra', 'Angola'],
    'continente': ['√Åsia', 'Europa', '√Åfrica', 'Europa', '√Åfrica'],
    'area': [652230, 28748, 2381741, 468, 1246700],
    'populacao': ['25500100', '2831741', '37100000', '78115', '20609294']
})

big_countries(world)

     nome_pa√≠s continente     area  populacao
0  Afeganist√£o       √Åsia   652230   25500100
2      Algeria     √Åfrica  2381741   37100000

## Exerc√≠cio 2

Considere duas tabelas com as seguintes vari√°veis:

#### Customers

| Vari√°vel | Tipo |
|----------|------|
| id | int |
| nome | str |


#### Orders

| Vari√°vel | Tipo |
|----------|------|
| id | int |
| customer_id | int |

Na tabela `Customers`, `id` indica o identificador de cada cliente. J√° na tabela `Orders`, `id` se refere ao identificador de cada pedido, enquanto `customer_id` indica o cliente que fez o pedido. Cada linha indica um pedido. 

Escreva uma solu√ß√£o que retorne o nome dos clientes que nunca fizeram nenhuma compra. A sa√≠de deve ser um dataframe com a coluna "nome".

In [10]:
def zero_pedidos(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    # RESOLVA



# Teste (N√ÉO ALTERAR)
customers = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'nome': ['Jo√£o', 'Dimitri Payet', 'Pablo Vegetti', 'L√©o Pel√©', 'Philippe Coutinho']
})

orders = pd.DataFrame({
    'order_id': [1, 2, 3, 4],
    'customer_id': [1, 2, 3, 5]
})

zero_pedidos(customers, orders)

       nome
3  L√©o Pel√©

## Exerc√≠cio 3

Considere uma tabela, extra√≠da da rede social "Y" com as seguintes vari√°veis:

| Vari√°vel | Tipo |
|----------|------|
| y_id | int |
| text | str |

Na rede Y, as postagens se denominam "Uai". Um "uai" s√≥ pode ter at√© 18 caracteres, incluindo espa√ßos em branco. 

Escreva uma solu√ß√£o que, dado um conjunto de uais, exiba apenas os uais inv√°lidos, ou seja, com mais de 15 caracteres, retornando apenas as colunas y_id e text.

In [11]:
def uais_invalidos(uai: pd.DataFrame) -> pd.DataFrame:
    # RESOLVA


# Teste (N√ÉO ALTERAR)
uais = pd.DataFrame({
    'y_id': [1, 2, 3, 4, 5],
    'text': [
        'Vote for Biden',
        'Let us make America great again',
        'Quem √© Elon Musk?',
        'ter√ßa tem evento na FGV üöÄ',
        'Quero ver derrubarem o Y'
    ]
})

uais_invalidos(uais)

   y_id                             text
1     2  Let us make America great again
3     4        ter√ßa tem evento na FGV üöÄ
4     5         Quero ver derrubarem o Y

## Exerc√≠cio 4

Dada a seguinte tabela:

| Vari√°vel | Tipo |
|----------|------|
| id_funcionario | int |
| nome | str |
| salario | int |

Escreva uma solu√ß√£o que calcule um b√¥nus salarial para cada funcion√°rio. O b√¥nus √© 100% do sal√°rio se o ID do funcion√°rio for √≠mpar e o nome n√£o come√ßar com M. Nesses casos, o b√¥nus √© de apenas 10%. Retorne um dataframe com as colunas `id_empregado` e `bonus`. Voc√™ pode usar a biblioteca Numpy.

In [12]:
import numpy as np

def bonus(funcionarios: pd.DataFrame) -> pd.DataFrame:
    # RESOLVA


funcionarios = pd.DataFrame({
    'id_empregado': [1, 2, 3, 4, 5, 6],
    'nome': ['Matheus', 'Marcela', 'Catarina', 'Clarissa', 'Lindsey', 'Maria'],
    'salario': [90_000, 10_000, 9_500, 9_999, 8_998, 4_111]
})

bonus(funcionarios)

   id_empregado   bonus
0             1  9000.0
1             2  1000.0
2             3  9500.0
3             4   999.9
4             5  8998.0
5             6   411.1

## Exerc√≠cio 5

Um email v√°lido cont√©m:

- um prefixo
- um arroba
- um dom√≠nio

O prefixo (matheus.pestana, em matheus.pestana@fgv.br) pode conter letras, n√∫meros, underscore ('_'), ponto e/ou h√≠fen ('-'). O prefixo tamb√©m precisa come√ßar com uma letra. 

O dom√≠nio √© @fgv.br

Dado um dataframe, retorne um outro dataframe que mostre o id, o nome e o email dos usu√°rios v√°lidos. Utilize RegEx.

In [14]:
def emails_validos(users: pd.DataFrame) -> pd.DataFrame:
    # RESOLVA 


# Teste (N√ÉO ALTERAR)
users = pd.DataFrame({
    'user_id': [1, 2, 3, 4, 5],
    'name': ['Thiago', 'Marcos', 'Francisco', 'Ana', 'William'],
    'email': ['thiago123@fgv.br', '9marcos@fgv.br', 'francisc#o@fgv.br', 'ana_clara@fgv.com', 'will_iam@fgv.br']
})

emails_validos(users)

   user_id     name             email
0        1   Thiago  thiago123@fgv.br
4        5  William   will_iam@fgv.br

## Exerc√≠cio 6 

Em uma empresa, √© poss√≠vel separar os analistas em 4 categorias: Estagi√°rio, J√∫nior, Pleno e S√™nior. Al√©m da experi√™ncia e capacidade, tais categorias refletem no sal√°rio desses funcion√°rios.

Um Estagi√°rio ganha at√© 1500 reais, um J√∫nior ganha de 1500 a 4500 reais, um Pleno ganha 4500 a 7500 reais e um S√™nior entre 7500 reais e 12000.

Dada a seguinte tabela:

| Vari√°vel | Tipo |
|----------|------|
| id_funcionario | int |
| nome | str |
| salario | int |

Escreva uma solu√ß√£o que retorne um dataframe com a propor√ß√£o de funcion√°rios por categoria. Se uma categoria n√£o tiver funcion√°rios, ela deve retornar 0.

In [30]:
def categoriza_funcionarios(funcionarios: pd.DataFrame) -> pd.DataFrame:
    # RESOLVA

# Teste (N√ÉO ALTERAR)
funcionarios = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'salario': [1501, 3600, 4510, 1600, 1550, 3500, 5000, 10000, 2000, 6000]
})

categoriza_funcionarios(funcionarios)

categoria
Junior        0.6
Pleno         0.3
Senior        0.1
Estagi√°rio    0.0
Name: proportion, dtype: float64

## Exerc√≠cio 7 (DESAFIO)

Dado um n√∫mero inteiro n√£o negativo `x`, retorne a raiz quadrada dele, arredondada para o menor inteiro. O valor retornado inteiro deve ser n√£o-negativo. 

Voc√™ n√£o pode usar nenhuma fun√ß√£o ou operador de raiz quadrada, nem de exponencia√ß√£o ou de arredondamento,ou seja, voc√™ n√£o pode usar:
`math.sqrt(x)`, `np.round(np.sqrt(x))` ou `x ** 0.5`. 

Exemplos: 

x = 4. A raiz quadrada de 4 √© 2. Retorne 2.

x = 8. A raiz quadrada de 8 √© 2.82842... Retorne 2.

x = 999. A raiz quadrada de 999 √© 31.60696... Retorne 31.

In [31]:
def raizquadrada_int(x: int) -> int:
    # RESOLVA


# Teste (N√ÉO ALTERAR)
print(raizquadrada_int(4)) # 2
print(raizquadrada_int(8)) # 2
print(raizquadrada_int(999)) # 31

2
2
31

## Exerc√≠cio 8 (Desafio)

Considerandos duas strings A e B, desenvolva uma solu√ß√£o que retorne True 
se a string A pode ser escrita com os caracteres presentes string B. 
Caso contr√°rio, retorne False. Nem todos os caracteres de B precisam ser usados, 
mas os caracteres de A precisam estar presentes em B.

Cada caractere em B pode ser usado o mesmo n√∫mero de vezes que aparece em B.

In [33]:
def anagramas(A: str, B: str) -> bool:
    # RESOLVA

print(anagramas('abc', 'bac')) # True
print(anagramas('abc', 'bad')) # False
print(anagramas('listen', 'silent')) # True
print(anagramas('hello', 'world')) # False
print(anagramas('aa', 'abcda')) # True

True
False
True
False
True