# Lista 2

## Exercﾃｭcio 1

Considere uma tabela com as seguintes variﾃ｡veis:

| Variﾃ｡vel | Tipo |
|----------|------|
| nome_paﾃｭs | str |
| continente | str|
| area     | float|
| populacao | str  |
| pib     | float|


Um paﾃｭs ﾃｩ considerado grande se:
- sua ﾃ｡rea ﾃｩ de pelo menos 3 milhﾃｵes de km2 (3.000.000 km2), ou
- sua populaﾃｧﾃ｣o ﾃｩ de pelo menos 25 milhﾃｵes de pessoas.

Escreva uma soluﾃｧﾃ｣o que retorne o nome, a populaﾃｧﾃ｣o e a ﾃ｡rea dos paﾃｭses que sﾃ｣o considerados grandes. A saﾃｭda deve ser um dataframe com as colunas na ordem "ﾃ｡rea, nome, populaﾃｧﾃ｣o".

In [9]:
import pandas as pd

def big_countries(world: pd.DataFrame) -> pd.DataFrame:
    # RESOLVA
    world['populacao'] = world['populacao'].astype(int)
    return world[(world['populacao'] >= 25 * 10**6) | (world['area'] >= 3 * 10**6)]


# Teste (Nﾃグ ALTERAR)
world = pd.DataFrame({
    'nome_paﾃｭs': ['Afeganistﾃ｣o', 'Albania', 'Algeria', 'Andorra', 'Angola'],
    'continente': ['ﾃ《ia', 'Europa', 'ﾃ’rica', 'Europa', 'ﾃ’rica'],
    'area': [652230, 28748, 2381741, 468, 1246700],
    'populacao': ['25500100', '2831741', '37100000', '78115', '20609294']
})

big_countries(world)

     nome_paﾃｭs continente     area  populacao
0  Afeganistﾃ｣o       ﾃ《ia   652230   25500100
2      Algeria     ﾃ’rica  2381741   37100000

## Exercﾃｭcio 2

Considere duas tabelas com as seguintes variﾃ｡veis:

#### Customers

| Variﾃ｡vel | Tipo |
|----------|------|
| id | int |
| nome | str |


#### Orders

| Variﾃ｡vel | Tipo |
|----------|------|
| id | int |
| customer_id | int |

Na tabela `Customers`, `id` indica o identificador de cada cliente. Jﾃ｡ na tabela `Orders`, `id` se refere ao identificador de cada pedido, enquanto `customer_id` indica o cliente que fez o pedido. Cada linha indica um pedido. 

Escreva uma soluﾃｧﾃ｣o que retorne o nome dos clientes que nunca fizeram nenhuma compra. A saﾃｭde deve ser um dataframe com a coluna "nome".

In [10]:
def zero_pedidos(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    # RESOLVA
    ids_pedidos = orders['customer_id'].unique()
    ids_clientes = customers['id'].unique()
    return customers[~customers['id'].isin(ids_pedidos)][['nome']]
# pode seria ids_clientes_sem_pedido = customers[~customers['id'].isin(orders['customer_id'])]


# Teste (Nﾃグ ALTERAR)
customers = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'nome': ['Joﾃ｣o', 'Dimitri Payet', 'Pablo Vegetti', 'Lﾃｩo Pelﾃｩ', 'Philippe Coutinho']
})

orders = pd.DataFrame({
    'order_id': [1, 2, 3, 4],
    'customer_id': [1, 2, 3, 5]
})

zero_pedidos(customers, orders)

       nome
3  Lﾃｩo Pelﾃｩ

## Exercﾃｭcio 3

Considere uma tabela, extraﾃｭda da rede social "Y" com as seguintes variﾃ｡veis:

| Variﾃ｡vel | Tipo |
|----------|------|
| y_id | int |
| text | str |

Na rede Y, as postagens se denominam "Uai". Um "uai" sﾃｳ pode ter atﾃｩ 18 caracteres, incluindo espaﾃｧos em branco. 

Escreva uma soluﾃｧﾃ｣o que, dado um conjunto de uais, exiba apenas os uais invﾃ｡lidos, ou seja, com mais de 15 caracteres, retornando apenas as colunas y_id e text.

In [11]:
def uais_invalidos(uai: pd.DataFrame) -> pd.DataFrame:
    # RESOLVA
    uai['length'] = uai['text'].apply(len)
    return uai[uai['length'] > 18][['y_id', 'text']]

# Teste (Nﾃグ ALTERAR)
uais = pd.DataFrame({
    'y_id': [1, 2, 3, 4, 5],
    'text': [
        'Vote for Biden',
        'Let us make America great again',
        'Quem ﾃｩ Elon Musk?',
        'terﾃｧa tem evento na FGV 泅',
        'Quero ver derrubarem o Y'
    ]
})

uais_invalidos(uais)

   y_id                             text
1     2  Let us make America great again
3     4        terﾃｧa tem evento na FGV 泅
4     5         Quero ver derrubarem o Y

## Exercﾃｭcio 4

Dada a seguinte tabela:

| Variﾃ｡vel | Tipo |
|----------|------|
| id_funcionario | int |
| nome | str |
| salario | int |

Escreva uma soluﾃｧﾃ｣o que calcule um bﾃｴnus salarial para cada funcionﾃ｡rio. O bﾃｴnus ﾃｩ 100% do salﾃ｡rio se o ID do funcionﾃ｡rio for ﾃｭmpar e o nome nﾃ｣o comeﾃｧar com M. Nesses casos, o bﾃｴnus ﾃｩ de apenas 10%. Retorne um dataframe com as colunas `id_empregado` e `bonus`. Vocﾃｪ pode usar a biblioteca Numpy.

In [12]:
import numpy as np

def bonus(funcionarios: pd.DataFrame) -> pd.DataFrame:
    # RESOLVA
    condicao = (funcionarios['id_empregado'] % 2 == 1) & (~funcionarios['nome'].str.startswith('M'))
    funcionarios['bonus'] = np.where(condicao, funcionarios['salario'], funcionarios['salario'] * 0.1)
    return funcionarios[['id_empregado', 'bonus']]

funcionarios = pd.DataFrame({
    'id_empregado': [1, 2, 3, 4, 5, 6],
    'nome': ['Matheus', 'Marcela', 'Catarina', 'Clarissa', 'Lindsey', 'Maria'],
    'salario': [90_000, 10_000, 9_500, 9_999, 8_998, 4_111]
})

bonus(funcionarios)

   id_empregado   bonus
0             1  9000.0
1             2  1000.0
2             3  9500.0
3             4   999.9
4             5  8998.0
5             6   411.1

## Exercﾃｭcio 5

Um email vﾃ｡lido contﾃｩm:

- um prefixo
- um arroba
- um domﾃｭnio

O prefixo (matheus.pestana, em matheus.pestana@fgv.br) pode conter letras, nﾃｺmeros, underscore ('_'), ponto e/ou hﾃｭfen ('-'). O prefixo tambﾃｩm precisa comeﾃｧar com uma letra. 

O domﾃｭnio ﾃｩ @fgv.br

Dado um dataframe, retorne um outro dataframe que mostre o id, o nome e o email dos usuﾃ｡rios vﾃ｡lidos. Utilize RegEx.

In [14]:
def emails_validos(users: pd.DataFrame) -> pd.DataFrame:
    # RESOLVA 
    padrao = r'^[a-zA-Z][a-zA-Z0-9.-_]*@fgv.br'
    return users[users['email'].str.contains(padrao, regex=True)][['user_id', 'name', 'email']]

# Teste (Nﾃグ ALTERAR)
users = pd.DataFrame({
    'user_id': [1, 2, 3, 4, 5],
    'name': ['Thiago', 'Marcos', 'Francisco', 'Ana', 'William'],
    'email': ['thiago123@fgv.br', '9marcos@fgv.br', 'francisc#o@fgv.br', 'ana_clara@fgv.com', 'will_iam@fgv.br']
})

emails_validos(users)

   user_id     name             email
0        1   Thiago  thiago123@fgv.br
4        5  William   will_iam@fgv.br

## Exercﾃｭcio 6 

Em uma empresa, ﾃｩ possﾃｭvel separar os analistas em 4 categorias: Estagiﾃ｡rio, Jﾃｺnior, Pleno e Sﾃｪnior. Alﾃｩm da experiﾃｪncia e capacidade, tais categorias refletem no salﾃ｡rio desses funcionﾃ｡rios.

Um Estagiﾃ｡rio ganha atﾃｩ 1500 reais, um Jﾃｺnior ganha de 1500 a 4500 reais, um Pleno ganha 4500 a 7500 reais e um Sﾃｪnior entre 7500 reais e 12000.

Dada a seguinte tabela:

| Variﾃ｡vel | Tipo |
|----------|------|
| id_funcionario | int |
| nome | str |
| salario | int |

Escreva uma soluﾃｧﾃ｣o que retorne um dataframe com a proporﾃｧﾃ｣o de funcionﾃ｡rios por categoria. Se uma categoria nﾃ｣o tiver funcionﾃ｡rios, ela deve retornar 0.

In [30]:
def categoriza_funcionarios(funcionarios: pd.DataFrame) -> pd.DataFrame:
    # RESOLVA
    # Estagiﾃ｡rio < 1500, Junior < 3500, Pleno < 6000, Senior >= 6000
    funcionarios['categoria'] = pd.cut(funcionarios['salario'], bins=[0, 1500, 4500, 7500, 12000], labels=['Estagiﾃ｡rio', 'Junior', 'Pleno', 'Senior'])
    return funcionarios.value_counts('categoria', normalize=True)

# Teste (Nﾃグ ALTERAR)
funcionarios = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'salario': [1501, 3600, 4510, 1600, 1550, 3500, 5000, 10000, 2000, 6000]
})

categoriza_funcionarios(funcionarios)

categoria
Junior        0.6
Pleno         0.3
Senior        0.1
Estagiﾃ｡rio    0.0
Name: proportion, dtype: float64

## Exercﾃｭcio 7 (DESAFIO)

Dado um nﾃｺmero inteiro nﾃ｣o negativo `x`, retorne a raiz quadrada dele, arredondada para o menor inteiro. O valor retornado inteiro deve ser nﾃ｣o-negativo. 

Vocﾃｪ nﾃ｣o pode usar nenhuma funﾃｧﾃ｣o ou operador de raiz quadrada, nem de exponenciaﾃｧﾃ｣o ou de arredondamento,ou seja, vocﾃｪ nﾃ｣o pode usar:
`math.sqrt(x)`, `np.round(np.sqrt(x))` ou `x ** 0.5`. 

Exemplos: 

x = 4. A raiz quadrada de 4 ﾃｩ 2. Retorne 2.

x = 8. A raiz quadrada de 8 ﾃｩ 2.82842... Retorne 2.

x = 999. A raiz quadrada de 999 ﾃｩ 31.60696... Retorne 31.

In [31]:
def raizquadrada_int(x: int) -> int:
    # RESOLVA
    left = 0
    right = x
    while left <= right:
        mid = (left + right) // 2
        if mid * mid <= x < (mid + 1) * (mid + 1):
            return mid
        elif mid * mid < x:
            left = mid + 1
        else:
            right = mid - 1

# Teste (Nﾃグ ALTERAR)
print(raizquadrada_int(4)) # 2
print(raizquadrada_int(8)) # 2
print(raizquadrada_int(999)) # 31

2
2
31

## Exercﾃｭcio 8 

Considerandos duas strings A e B, desenvolva uma soluﾃｧﾃ｣o que retorne True 
se a string A pode ser escrita com os caracteres presentes string B. 
Caso contrﾃ｡rio, retorne False. Nem todos os caracteres de B precisam ser usados, 
mas os caracteres de A precisam estar presentes em B.

Cada caractere em B pode ser usado o mesmo nﾃｺmero de vezes que aparece em B.

In [ ]:
def anagramas(A: str, B: str) -> bool:
    # RESOLVA
    dicionario = {}
    for letra in B:
        if letra in dicionario:
            dicionario[letra] += 1
        else:
            dicionario[letra] = 1

    for letra in A:
        if letra in dicionario and dicionario[letra] > 0:
            dicionario[letra] -= 1
        else:
            return False
    return True