# Pandas

In [1]:
import pandas as pd
from typing import List, Dict

### 1) 
Escreva uma solução que crie um dataframe de uma lista com duas dimensões chamada "dados_turma". Essa lista contém os IDs e as idades de cada aluno. O dataframe deve ter 2 colunas, uma chamada "ID" e outra chamada "Idade", e estar na mesma ordem que a lista "dados_turma". O formato resultante seguirá o exemplo:

> Input:
```
dados_turma: [[1, 18], [2, 19], [3, 21], [4, 20], [5, 20]]
```

> Output:

| ID   | IDADE |
|------|-------|
| 1    | 18    |
| 2    | 19    |
| 3    | 21    |
| 4    | 20    |
| 5    | 20    |


> Resolução:

In [2]:
def cria_dataframe(dados_turma: List[List[int]]) -> pd.DataFrame:
    return pd.DataFrame(dados_turma, columns=['ID', 'Idade'])

> Teste:

In [3]:
# NÃO ALTERAR, APENAS EXECUTAR O CÓDIGO.

dados_turma = [[1, 18], [2, 19], [3, 21], [4, 20], [5, 20]]
print(cria_dataframe(dados_turma))

   ID  Idade
0   1     18
1   2     19
2   3     21
3   4     20
4   5     20

### 2) 
Escreva uma solução para calcular e mostrar o número de linhas e colunas de um dataframe, em um formato de lista. Retorne o resultado da seguinte forma:

```
[linhas, colunas]
```

> Input:

| ID   | IDADE |
|------|-------:|
| 1    | 18    |
| 2    | 19    |
| 3    | 21    |
| 4    | 20    |
| 5    | 20    |


> Output:
```
[5, 2]
```

> Resolução:

In [4]:
def dimensoes_df(df: pd.DataFrame) -> List[int]:
    ### RESOLVER A PARTIR DAQUI
    return [df.shape[0], df.shape[1]]

> Teste:

In [5]:
# NÃO ALTERAR, APENAS EXECUTAR O CÓDIGO.

df = pd.read_excel('../bases/clientes.xlsx')
print(dimensoes_df(df))

[2003, 5]

### 3)
Escreva uma solução que retorne as primeiras duas linhas e as últimas 3 linhas de um dataframe. O resultado deve ser um dataframe com as linhas na mesma ordem em que aparecem no dataframe original.

> Input:


| ID   | IDADE |
|------|-------|
| 1    | 18    |
| 2    | 19    |
| 3    | 21    |
| 4    | 20    |
| 5    | 20    |
| 6    | 22    |
| 7    | 23    |
| 8    | 24    |


> Output:

| ID   | IDADE |
|------|-------|
| 1    | 18    |
| 2    | 19    |
| 6    | 22    |
| 7    | 23    |
| 8    | 24    |


> Resolução:

In [6]:
df = pd.read_excel('../bases/clientes.xlsx')

def primeiras_linhas_ultimas_linhas(df: pd.DataFrame) -> pd.DataFrame:
    ### RESOLVER A PARTIR DAQUI
    return pd.concat([df.head(2), df.tail(3)])

> Teste:

In [7]:
# NÃO ALTERAR, APENAS EXECUTAR O CÓDIGO.

df = pd.read_excel('../bases/clientes.xlsx')
print(primeiras_linhas_ultimas_linhas(df))

      Idade     Gênero  Renda_Mensal            Educação  Compras_Anuais
0        41   Feminino          8690  Ensino Fundamental              34
1        62  Masculino          8024     Ensino Superior              48
2000     27   Feminino         14664       Pós-Graduação              20
2001     27   Feminino         13913  Ensino Fundamental              20
2002     27  Masculino         14344     Ensino Superior              20

### 4)

A empresa XYZ Enterprises teve ganhos exorbitantes no último ano. Por conta disso, vai oferecer para cada funcionário um bônus salarial que é o dobro do salário. 

Escreva uma solução que recebe um dataframe com os salários dos funcionários e retorna um novo dataframe com o bônus salarial de cada funcionário. O dataframe de entrada terá duas colunas, uma chamada "ID" e outra chamada "Salario". O dataframe de saída terá 4 colunas, uma chamada "ID", outra chamada "Salario", outra chamada "Bonus" e outra chamada "Salario_Total". O formato resultante seguirá o exemplo:

> Input:


| ID   | Salario |
|------|---------:|
| 1    | 1000    |
| 2    | 2000    |
| 3    | 3000    |
| 4    | 4000    |
| 5    | 5000    |



> Output:


| ID   | Salario | Bonus | Salario_Total|
|------|---------:|-------:|--------------:|
| 1    | 1000    | 2000  | 3000         |
| 2    | 2000    | 4000  | 6000         |
| 3    | 3000    | 6000  | 9000         |
| 4    | 4000    | 8000  | 12000        |
| 5    | 5000    | 10000 | 15000        |



> Resolução:

In [13]:
def bonus_salarial(df: pd.DataFrame) -> pd.DataFrame:
    ### RESOLVER A PARTIR DAQUI
    df['Bônus'] = df['Salario'] * 2
    df['Salario_Total'] = df['Salario'] + df['Bônus']
    return df

> Teste:

In [14]:
# NÃO ALTERAR, APENAS EXECUTAR O CÓDIGO.

salarios = pd.read_csv('../bases/salarios.csv')

print(bonus_salarial(salarios))

   ID  Salario  Bônus  Salario_Total
0   1     1100   2200           3300
1   2     2600   5200           7800
2   3     3251   6502           9753
3   4     4665   9330          13995
4   5     5905  11810          17715

### 5)

Em um cadastro de usuários, temos algumas linhas duplicadas na coluna "Email". 

Escreva uma solução que recebe um dataframe com os usuários e retorna um novo dataframe sem as linhas duplicadas, mantendo a linha com a primeira aparição da duplicata. O dataframe de entrada terá três colunas, uma chamada "ID", uma chamada "Nome" e outra chamada "Email". O dataframe de saída terá as mesmas colunas e não terá linhas duplicadas. O formato resultante seguirá o exemplo:

> Input:


| ID   | Nome  | Email             |
|------|-------|-------------------|
| 1    | Joao  | joao@fgv.br       |
| 2    | Maria | maria@fgv.br      | 
| 3    | Jose  | jose@fgv.br       |
| 4    | Ana   | maria@fgv.br      |
| 5    | Pedro | pedro@fgv.br      |


> Output:


| ID   | Nome  | Email             |
|------|-------|-------------------|
| 1    | Joao  | joao@fgv.br       |
| 2    | Maria | maria@fgv.br      | 
| 3    | Jose  | jose@fgv.br       |
| 5    | Pedro | pedro@fgv.br      |


> Resolução:

In [15]:
def remove_duplicatas(df: pd.DataFrame) -> pd.DataFrame:
    ### RESOLVER A PARTIR DAQUI
    return df.drop_duplicates(subset='Email')

> Teste:

In [16]:
# NÃO ALTERAR, APENAS EXECUTAR O CÓDIGO.

emails = pd.DataFrame({
    'ID': range(1, 6),
    'Nome': ['João', 'Maria', 'José', 'Ana', 'Pedro'],
    'Email': ['joao@fgv.br', 'maria@fgv.br', 'jose@fgv.br', 'maria@fgv.br', 'pedro@fgv.br']  
})

print(remove_duplicatas(emails))

   ID   Nome         Email
0   1   João   joao@fgv.br
1   2  Maria  maria@fgv.br
2   3   José   jose@fgv.br
4   5  Pedro  pedro@fgv.br

### 6)

Existem algumas linhas em um dataframe que possuem valores nulos. 

Escreva uma solução que recebe um dataframe com valores nulos na coluna Email e retorna um novo dataframe sem as linhas que possuem valores nulos. Aproveite e renomeie a coluna "Nome" para "Primeiro Nome". O dataframe de entrada terá três colunas, uma chamada "ID", uma chamada "Nome" e outra chamada "Email". O dataframe de saída terá "ID", "Primeiro Nome" e "Email" e não terá linhas com valores nulos na coluna Email. O formato resultante seguirá o exemplo:

> Input:

| ID   | Nome  | Email             |
|------|-------|-------------------|
| 1    | Joao  | joao@fgv.br       |
| 2    | Maria | maria@fgv.br      | 
| 3    | None  | jose@fgv.br       |
| 4    | Ana   | None              |
| 5    | Pedro | pedro@fgv.br      |



> Output:

| ID   | Primeiro Nome | Email        |
|------|---------------|--------------|
| 1    | Joao          | joao@fgv.br  |
| 2    | Maria         | maria@fgv.br | 
| 3    | None          | jose@fgv.br  |
| 5    | Pedro         | pedro@fgv.br |



> Resolução:

In [17]:
def remove_NA(df: pd.DataFrame) -> pd.DataFrame:
    ### RESOLVER A PARTIR DAQUI
    return df.dropna(subset='Email')

> Teste:

In [18]:
# NÃO ALTERAR, APENAS EXECUTAR O CÓDIGO.

emails = pd.DataFrame({
    'ID': range(1, 6),
    'Nome': ['João', 'Maria', None, 'Ana', 'Pedro'],
    'Email': ['joao@fgv.br', 'maria@fgv.br', 'jose@fgv.br', None, 'pedro@fgv.br']  
})

print(remove_NA(emails))

   ID   Nome         Email
0   1   João   joao@fgv.br
1   2  Maria  maria@fgv.br
2   3   None   jose@fgv.br
4   5  Pedro  pedro@fgv.br

### 7)
Desenvolva uma solução que recebe um dataframe com notas de alunos em formato fracionário (float) e converte para inteiro. O dataframe de entrada terá duas colunas, uma chamada "ID", uma chamada "Nota". O dataframe de saída terá as mesmas colunas e as notas convertidas para inteiro. O formato resultante seguirá o exemplo:

> Input:


| ID   | Nota  |
|------|-------:|
| 1    | 8.0   |
| 2    | 9.0   |
| 3    | 7.0   |
| 4    | 6.0   |


> Output:


| ID   | Nota  |
|------|-------:|
| 1    | 8     |
| 2    | 9     |
| 3    | 7     |
| 4    | 6     |

`

> Resolução:

In [20]:
def convertendo_tipos(df: pd.DataFrame) -> pd.DataFrame:
    ### RESOLVER A PARTIR DAQUI
    df['Nota'] = df['Nota'].astype(int)
    return df

> Teste:

In [21]:
df = pd.DataFrame({
    'ID': range(1, 5),
    'Nota': [8.0, 9.0, 7.0, 6.0]}
)

df = convertendo_tipos(df)
df.dtypes

ID      int64
Nota    int64
dtype: object

### 8)

A base utilizada possui valores nulos em algumas linhas da coluna Vendas. Se um produto não foi vendido, nenhum valor foi inserido na base,  o que na prática resulta em um valor nulo, mas na teoria, o valor é zero. Corrija esses valores nulos na coluna Vendas e Estoque, substituindo seu valor por zero. O dataframe de entrada terá três colunas, uma chamada "Produto", uma chamada "Estoque" e outra chamada "Vendas". O dataframe de saída terá as mesmas colunas e os valores nulos substituídos por zero. O formato resultante seguirá o exemplo:

> Input:



| Produto  | Estoque | Vendas |
|----------|---------|--------|
| Produto1 | 10      | 5      |
| Produto2 | 20      | None   |
| Produto3 | 30      | 10     |
| Produto4 | 40      | None   |
| None     | None    | 15     |



> Output:

| Produto  | Estoque | Vendas |
|----------|---------|--------|
| Produto1 | 10      | 5      |
| Produto2 | 20      | 0      |
| Produto3 | 30      | 10     |
| Produto4 | 40      | 0      |
| None     | 0       | 15     |

> Resolução:

In [22]:
def corrigir_valores_nulos(df: pd.DataFrame) -> pd.DataFrame:
    ### RESOLVER A PARTIR DAQUI
    df[['Estoque', 'Vendas']] = df[['Estoque', 'Vendas']].fillna(0)
    return df

> Teste:

In [23]:
# NÃO ALTERAR, APENAS EXECUTAR O CÓDIGO.
import pandas as pd 

df = pd.DataFrame({
    'Produto': ['Produto' + str(i) for i in range(1, 5)] + [None],
    'Estoque': [10, 20, 30, 40, None],
    'Vendas': [5, None, 10, None, 15]})

print(corrigir_valores_nulos(df))

    Produto  Estoque  Vendas
0  Produto1     10.0     5.0
1  Produto2     20.0     0.0
2  Produto3     30.0    10.0
3  Produto4     40.0     0.0
4      None      0.0    15.0

### 9)

A empresa XYZ Enterprises possui dois dataframes com informações de funcionários. O primeiro dataframe possui as colunas "ID", "Nome" e "Salario". O segundo dataframe possui as colunas "ID" e "Cargo". Todos os funcionários aparecem em ambos os dataframes, mas em ordem diferente. Una as duas bases em um único dataframe, mantendo a ordem do primeiro dataframe. O dataframe de entrada terá as seguintes colunas:

Dataframe 1:

| ID   | Nome  | Salario |
|------|-------|---------:|
| 1    | Joao  | 1000    |
| 2    | Maria | 2000    |
| 3    | Jose  | 3000    |
| 4    | Ana   | 4000    |
| 5    | Pedro | 5000    |



Dataframe 2:


| ID   | Cargo |
|------|-------|
| 3    | Analista |
| 1    | Estagiario |
| 5    | Gerente |
| 2    | Coordenador |
| 4    | Diretor |


O dataframe de saída terá as seguintes colunas:



| ID   | Nome  | Salario | Cargo      |
|------|-------|---------:|------------|
| 1    | Joao  | 1000    | Estagiario |
| 2    | Maria | 2000    | Coordenador|
| 3    | Jose  | 3000    | Analista   |
| 4    | Ana   | 4000    | Diretor    |
| 5    | Pedro | 5000    | Gerente    |



> Resolução:

In [24]:
def junta_dfs(df1: pd.DataFrame, df2: pd.DataFrame) -> pd.DataFrame:
    ### RESOLVER A PARTIR DAQUI
    return pd.merge(df1, df2, on='ID', how='left')

> Teste:

In [25]:
# NÃO ALTERAR, APENAS EXECUTAR O CÓDIGO.

df1 = pd.DataFrame({
    'ID': range(1, 6),
    'Nome': ['João', 'Maria', 'José', 'Ana', 'Pedro'],
    'Salario': [1000, 2000, 3000, 4000, 5000],
})

df2 = pd.DataFrame({
    'ID': [3, 1, 5, 2, 4],
    'Cargo': ['Analista', 'Estagiário', 'Gerente', 'Coordenador', 'Diretor']})

print(junta_dfs(df1, df2))

   ID   Nome  Salario        Cargo
0   1   João     1000   Estagiário
1   2  Maria     2000  Coordenador
2   3   José     3000     Analista
3   4    Ana     4000      Diretor
4   5  Pedro     5000      Gerente

### 10)

Temos uma tabela com informações da temperatura média mensal em duas cidades: Rio de Janeiro e Moscou. Em cada linha, temos uma cidade, um mês e uma temperatura. 

Escreva uma solução que faça um pivot nos dados, fazendo com que cada linha represente um mês e a temperatura daquele mês, e cada coluna seja uma cidade. 

O dataframe de entrada terá as seguintes colunas:

| city           | month    | temperature |
|----------------|----------|-------------:|
| Rio de Janeiro | Janeiro  | 32          |
| Rio de Janeiro | Fevereiro| 32          |
| Rio de Janeiro | Março    | 30          |
| Rio de Janeiro | Abril    | 28          |
| Rio de Janeiro | Maio     | 27          |
| Moscou         | Janeiro  | -15         |
| Moscou         | Fevereiro| -10         |
| Moscou         | Março    | -6          |
| Moscou         | Abril    | 6           |
| Moscou         | Maio     | 8           |



O dataframe de saída terá as seguintes colunas:

| month    | Rio de Janeiro | Moscou |
|----------|----------------:|--------:|
| Janeiro  | 32             | -15    |
| Fevereiro| 32             | -10    |
| Março    | 30             | -6     |
| Abril    | 28             | 6      |
| Maio     | 27             | 8      |


>

> Resolução:

In [33]:
def pivotar(df: pd.DataFrame) -> pd.DataFrame:
    ### RESOLVER A PARTIR DAQUI
    return df.pivot(index='month', columns='city', values='temperature')

> Teste:

In [34]:
# NÃO ALTERAR, APENAS EXECUTAR O CÓDIGO.

df = pd.DataFrame({
    'city': ['Rio de Janeiro'] * 5 + ['Moscou'] * 5,
    'month': ['01', '02', '03', '04', '05'] * 2,
    'temperature': [32, 32, 30, 28, 27, -15, -10, -6, 6, 8],
})

print(pivotar(df))

city   Moscou  Rio de Janeiro
month
01        -15              32
02        -10              32
03         -6              30
04          6              28
05          8              27

### 11) 

Dada a seguinte tabela, desenvolva uma solução que:
- Filtre os animais com mais de 2 anos de idade e mais de 100kg
- Organize o dataframe de acordo com a idade do animal, em ordem decrescente
- Retorne o nome dos animais que atendem aos critérios acima, no formato dataframe.

> Input:

| Animal | Idade | Peso |
|--------|-------:|------:|
| Elefante | 3 | 400 |
| Leão | 1 | 160 |
| Zebra | 2 | 120 |
| Girafa | 4 | 200 |
| Macaco | 1 | 10 |
| Cobra | 2 | 5 |
| Urso | 3 | 150 |
| Rinoceronte | 5 | 450 |
| Hipopótamo | 4 | 300 |

> Output:

| Animal | 
|--------| 
| Rinoceronte | 
| Girafa | 
| Hipopótamo | 
| Elefante | 
| Urso | 

Resolva tudo em apenas UMA linha de função.

> Resolução:

In [35]:
def sort_animais(df: pd.DataFrame) -> pd.DataFrame:
    ### RESOLVER A PARTIR DAQUI
    return df.query("Idade > 2 and Peso > 100").sort_values(by='Idade', ascending=False)[['Animal']]

> Teste:

In [36]:
# NÃO ALTERAR, APENAS EXECUTAR O CÓDIGO.

animais = pd.DataFrame({
    'Animal': ['Elefante', 'Leão', 'Zebra', 'Girafa', 'Macaco', 'Cobra', 'Urso', 'Rinoceronte', 'Hipopótamo'],
    'Idade': [3, 1, 2, 4, 1, 2, 3, 5, 4],
    'Peso': [400, 160, 120, 200, 10, 5, 150, 450, 300]
})

print(sort_animais(animais))

        Animal
7  Rinoceronte
3       Girafa
8   Hipopótamo
0     Elefante
6         Urso

## Desafios

### 1) 

Você receberá dois números inteiros, n e m. Retorne um inteiro que siga as seguintes regras:

- num1: A soma de todos os inteiros no intervalo de 1 a n, inclusive n, que não são divisíveis por m.
- num2: A soma de todos os inteiros no intervalo de 1 a n, inclusive n, que são divisíveis por m.

Retorne num1 - num2.

Exemplo: 
  - Sendo n = 10 e m = 3, os inteiros de 1 a 10 que não são divisíveis por 3 são [1, 2, 4, 5, 7, 8, 10]. Os que são divisíveis por 3 são [3, 6, 9]. A soma de num1 é 37 (1+2+4+5+7+8+10) e a soma de num2 é 18 (3+6+9). O resultado final é 37 - 18 = 19.

In [37]:
def diferenca_somas(n: int, m: int) -> int:
    sum1 = [i for i in range(1, n+1) if i % m != 0]
    sum2 = [i for i in range(1, n+1) if i % m == 0]
    return sum(sum1) - sum(sum2)

# NÃO ALTERAR A PARTIR DAQUI, APENAS EXECUTAR O CÓDIGO.
print(diferenca_somas(10, 3)) # 19
print(diferenca_somas(5, 6)) # 15
print(diferenca_somas(5, 1)) # -15

19
15
-15

### 2) 

Numerais romanos são representados por sete diferentes símbolos: I, V, X, L, C, D e M.

| Símbolo | Valor |
|---------|-------|
| I       | 1     |
| V       | 5     |
| X       | 10    |
| L       | 50    |
| C       | 100   |
| D       | 500   |
| M       | 1000  |

Por exemplo, II é 2, pois somamos 1 + 1. XII é 12, pois somamos 10 + 1 + 1. 

Os numerais romanos são escritos da esquerda para a direita, de forma que o maior valor está sempre à esquerda. No entanto, em alguns casos, o numeral é escrito de forma que o valor menor está à esquerda. Nesse caso, o valor menor é subtraído do valor maior. Por exemplo, IV é 4, pois 5 - 1. O mesmo princípio se aplica ao número 9, que é IX: -1 + 10 = 9. 

Existem seis casos em que a subtração é usada:

- I pode ser colocado antes de V (5) e X (10) para fazer 4 e 9.
- X pode ser colocado antes de L (50) e C (100) para fazer 40 e 90.
- C pode ser colocado antes de D (500) e M (1000) para fazer 400 e 900.

Dado um numeral romano, desenvolva uma solução que o converte para um número inteiro. 

> Resolução:

In [38]:
def romanToInt(s: str) -> int:
    ### RESOLVER A PARTIR DAQUI
    roman = {'I': 1, 'V': 5, 'X': 10, 'L': 50, 'C': 100, 'D': 500, 'M': 1000}
    result = 0
    for i in range(len(s)):
        if i > 0 and roman[s[i]] > roman[s[i - 1]]:
            result += roman[s[i]] - 2 * roman[s[i - 1]]
        else:
            result += roman[s[i]]
    return result

print(romanToInt('MCMXCIV')) # 1994
print(romanToInt('LVIII')) # 58
print(romanToInt('IX')) # 9
print(romanToInt('III')) # 3

1994
58
9
3